html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 10; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

/* math magic */
/* create row div */
/* create a column div */
/* make an element span n columns */
/* the last column in a row needs this */
/* prepend n blank columns  */
/* append n blank columns */
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto; }
  .container .column_left {
    float: left;
    width: 240px;
    margin-right: 0; }
  .container .column_center {
    float: left;
    width: 540px;
    margin-right: 0; }
  .container .column_right {
    margin-right: 0;
    float: left;
    width: 180px;
    margin-right: 0; }

body {
  border-top: #36393b solid 10px;
  color: #333333;
  padding: 0;
  margin: 0;
  position: relative;
  font: 400 1em/1.5em Georgia, Palatino, "Palatino Linotype", Serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", Georgia, Palatino, "Palatino Linotype", serif; }

h1 {
  font-size: 2.6em;
  font-weight: normal;
  line-height: 1.1em;
  letter-spacing: -1px;
  padding-top: 10px; }
  h1:hover {
    color: #888888; }

h2 {
  font-size: 1.6em;
  margin-bottom: 0.25em;
  margin-top: 1.3em; }

blockquote {
  color: #3e7d7d;
  font-style: italic;
  margin-bottom: 1.2em;
  padding: 0.75em 0.75em 0.75em 10px; }

.box {
  font-weight: bold;
  margin: 0px 10px;
  padding: 10px;
  height: 150px;
  background-color: #36393b;
  color: #dbddc9;
  letter-spacing: -1px; }

a {
  text-decoration: none;
  border-bottom: 1px dotted #333333;
  color: #888888; }

p {
  margin: 0 0 1.5em; }
