$almost-black: #36393B
$grayish: #888

@import _reset
@import grid

body
  border-top: $almost-black solid 10px
  color: #333
  padding: 0
  margin: 0
  position: relative
  font: 400 1em/1.5em Georgia,Palatino,"Palatino Linotype",Serif


h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'Crimson Text', Georgia,Palatino, 'Palatino Linotype', serif

h1
  font-size: 2.6em
  font-weight: normal
  line-height: 1.1em
  letter-spacing: -1px
  padding-top: 10px
  &:hover
    color: $grayish

h2
  font-size: 1.6em
  margin-bottom: 0.25em
  margin-top: 1.3em

blockquote
  color: #3E7D7D
  font-style: italic
  margin-bottom: 1.2em
  padding: 0.75em 0.75em 0.75em 10px

.box
  font-weight: bold
  margin: 0px 10px
  padding: 10px
  height: 150px
  background-color: $almost-black
  color: #DBDDC9
  letter-spacing: -1px

a
  text-decoration: none
  border-bottom: 1px dotted #333
  color: #888
p
  margin: 0 0 1.5em

.column_center
