!!!
%html
  %head
    %title
      ifesdjeen's blog

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{ :type => "text/css", :rel => "stylesheet", :media => "screen", :href => "/css/main.css" }


  %body
    .logo
    .container.post
      .column_left
        .box
          %h1
            {{page.title}}
      .column_center
        %h1

        {{content}}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12314275-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();