!!!
%html
  %head
    %title
      ifesdjeen's blog

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{ :type => "text/css", :rel => "stylesheet", :media => "screen", :href => "/css/main.css" }


  %body
    .logo
    .container.post
      .column_left
        .box
          %h1
            {{page.title}}
      .column_center
        %h1

        {{content}}

