<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html><head>
  <title>Alex P's blog: {{ page.title }}</title>

  <meta content='width=device-width, initial-scale=1.0' name='viewport' />
  {% if page.keywords %} <meta content='{{page.keywords}}' name='keywords' />  {% endif %}
  {% if page.description %} <meta content='{{page.description}}' name='description' />  {% endif %}

  <meta content='ClojureWerkz Team member, Alex Petrov'  name='author' />

  <link href='/assets/stylesheets/bootstrap.min.css' media='screen' rel='stylesheet' type='text/css' />
  <link href='/assets/stylesheets/bootstrap-docs.css' media='screen' rel='stylesheet' type='text/css' />
  <link href='/assets/stylesheets/pygments.css' media='screen' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600' rel='stylesheet' type='text/css' />
  <script src='/assets/javascripts/jquery-1.9.1.min.js' type='text/javascript'></script>
  <script src='/assets/javascripts/bootstrap.min.js'></script>
  <script src='/assets/javascripts/toc.js'></script>

  <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />

  <script type='text/javascript'>
    //<![CDATA[
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12314275-7']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    //]]>
  </script>
  </head>
  <body  data-spy="scroll" data-target="#side-navigation">

    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="./" class="navbar-brand">Alex P</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href='/'>Home</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class='container'>
      <div class='row'>
        <div class='col-md-3 bs-docs-sidebar' id='side-navigation'>
          <div class="bs-sidebar hidden-print">
            <ul id="toc" class="nav bs-sidenav"></ul>
          </div>
        </div>

        <div class='col-md-9'>
          {{ content }}
          {% if page.disqus_identifier %}
          <div id='disqus_thread'></div>
          <script type='text/javascript'>
            //<![CDATA[
              /* * * CONFIGURATION VARIABLES * * */
              var disqus_shortname = 'ifesdjeen'; // required: replace example with your forum shortname

              var disqus_developer = 0; // set to 1 on local machine for testing comments
              var disqus_identifier = '{{ page.disqus_identifier }}';
              var disqus_url = '{{ page.disqus_url }}';

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            //]]>
          </script>
          {% endif %}
        </div>
      </div>
      <footer class='footer article'>
        <p>This website was developed by
          <a href='http://twitter.com/ifesdjeen'>Alex P</a></p>
        <p>Artwork by
        &nbsp;<a href='http://www.flickr.com/photos/zuk13'>zuk13</a></p>
      </footer>
    </div>
  </body>
</html>
