<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Learn language through youtube + lyrics!</title>
    <link href='/favicon.ico' rel='shortcut icon' />
    <link href='/css/main.css' media='screen' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class='logo'>
      <h1>
        lang
        <p class='red'>
          tube
        </p>
      </h1>
    </div>
    <div class='container'>
      {{content}}
    </div>
  </body>
</html>
